# postgres
POSTGRES_HOST_AUTH_METHOD=trust

# From: https://hub.docker.com/_/postgres
# This optional variable can be used to control the auth-method for host
# connections for all databases, all users, and all addresses. If unspecified
# then md5 password authentication is used. On an uninitialized database,
# this will populate pg_hba.conf via this approximate line:
# echo "host all all all $POSTGRES_HOST_AUTH_METHOD" >> pg_hba.conf
# See the PostgreSQL documentation on pg_hba.conf for more information about
# possible values and their meanings.
# Note 1: It is not recommended to use trust since it allows anyone to connect
#         without a password, even if one is set (like via POSTGRES_PASSWORD).
#         For more information see the PostgreSQL documentation on Trust
#         Authentication.
# Note 2: If you set POSTGRES_HOST_AUTH_METHOD to trust, then POSTGRES_PASSWORD
#         is not required.
