# You shouldn't touch these settings
# They are here only because Funkwhale needs them declared

MUSIC_DIRECTORY_PATH=/srv/wwww/music
MUSIC_DIRECTORY_SERVE_PATH=/srv/wwww/music
MEDIA_ROOT=/srv/wwww/media
STATIC_ROOT=/srv/wwww/static

FUNKWHALE_FRONTEND_PATH=/srv/wwww/frontend
